cachetools
certifi
chardet
decorator
google-api-core
google-auth
google-cloud-core
google-cloud-speech
google-cloud-storage
google-resumable-media
googleapis-common-protos
grpcio
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
pip
proglog
protobuf
pyasn1
pyasn1-modules
pytz
requests
rsa
setuptools
six
tqdm
urllib3
flask
autopep8
eazymind
nltk
