body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}
section {
    display: flex;
    flex-direction: column;
    flex: 1;
}
<<<<<<< HEAD
.vspacer {
=======
#vspacer {
>>>>>>> 3d9c37c4ec781922f59d311f324d8798eacb5648
    flex: 1;
}
