<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WawGym</title>
<link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
   <!-- Easy-Button -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#">WawGym</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Mapa</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/train">Plany treningowe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myActivity">Moja Aktywność</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout: {{ username }} </a>
      </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Map -->
  <div class="container-fluid" id="mapid" style="min-height:650px"></div>

  
  

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{ url_for('static',filename='pics/gym1.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Znajdź Siłownię!</h2>
            <p style="text-align: justify;">W samej Warszawie znajduje się ponad 150 plenerowych siłowni. Dzięki naszej stronie internetowej możesz bez problemu znaleźć odpowiadający Ci obiekt w Twojej najbliższej okolicy. Po wybraniu siłowni łatwo można trafić do celu dzięki integracji z Google Maps.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{ url_for('static',filename='pics/training-woman.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Trenuj i Ćwicz!</h2>
            <p style="text-align: justify;">Nasza strona ułatwi ci wybrać plan treningowy dostosowany pod twoje możliwości. Do wyboru są trzy poziomy zaawansowania: początkujący, średniozaawansowany i zaawansowany. Swój postęp możesz zapisywać w swojej aktywności. Oprócz tego zapisuj swoje osiągnięcia w bieganiu, pływaniu lub jeździe na rowerze.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{ url_for('static',filename='pics/pitch.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Wydarzenia, Boiska, Baseny, Rowery</h2>
            <p style="text-align: justify;">Twórz ogólnodostępne wydarzenia, na które mogą przychodzić ludzie podzielający twoje zainteresowania. Z poziomu naszej strony możesz też zlokalizować warszawskie pływalnie, boiska do piłki nożnej oraz stacje rowerów miejskich Veturillo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Hadamard Team 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>

</body>

</html>
