{% extends "basic.html" %}
{% block content %}

<header>


    <nav>
      <h1>{{title}}</h1>
      <div>
        <h3 id="copyMe" style="display: none">localhost:5000/summary/{{id}}</h3>

        <button class="btn btn-lg btn-secondary" onclick="copyToClipboard('#copyMe')"><i class="fa fa-files-o" aria-hidden="true"></i>Click to Copy</button>
    <br />

      
  </header>
<div class="container">
  <div class="player">
    <video id="myVideo" controls>
      <source src={{ url_for('static', filename=vid_filename) }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="summary">
    <h1> Summary </h1>
    {% for sentence in summary %}
    <a id="myLink" href="#" onclick="Rewind({{ sentence[1] }});return false;"> {{ sentence[0] }} </a>
    {% endfor %}
  </div>

    <div class="transcript">
        <h1> Transcript </h1>
        {% for i in range(len(transcript)) %}
        <p class="minute"> <a id="myLink" href="#" onclick="Rewind({{ i * 60 }});return false;"> <kbd> {{ i }}:00 </kbd> </a> {{ transcript[i] }} </p>
        {% endfor %}
    </div>
</div>
<script>
    function Rewind(time){
        var vid = document.getElementById("myVideo");
        vid.currentTime = time; 
    }

    var t=setInterval(listen,1000);

    function listen() {
        var i = 0;
        var vid = document.getElementById("myVideo");
        console.log(vid.currentTime);
        i = Math.floor(vid.currentTime / 60);
        var minutes = document.getElementsByClassName("minute");
        for (let j = 0; j < minutes.length; j++) {
            if(j != i){
                minutes[j].classList.remove("hilight");
            }
        }
        if(i < minutes.length){
            minutes[i].classList.add("hilight");
        }
    }
</script>
<script type="text/javascript">
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
  </script>

{% endblock %}
